*{
    background-color: #c2aac0;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    background-color: transparent;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.wrapperReview{
    background-color: transparent;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.headLogin{
    background-color: transparent;
    margin-top: 0;
    width: 0px;
    border-radius: 0;
    border: transparent;
    height: 0px;
}
/* login page */

.headName{
    background-color: transparent;
    margin-top: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
}

.headH2{
    background-color: transparent;
    display: flex;
    padding: 5px;
    font-family: "Comic Sans MS";
    color: turquoise;
}

.headH2small{
    background-color: transparent;
    color: cyan;
}


.wrapperLogin{
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.blockLogin{
    margin-top: 30px;
    background-color: white;
    margin-left: 50px;
    margin-right: 30px;
    min-height: 150px;
}


.blockReg{
    margin-top: 50px;
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.loginForm{
    background-color: white;
    display: table;
}

.messageForm{
    margin-top: 10px;
    margin-left: 0px;
    background-color: white;
    display: table;
    width: 460px;
}

.formText{
    background-color: white;
    display: table-cell;}

p{ display: table-row;
    background-color: transparent;
}

small{
    background-color: transparent;
}

.gender{
    background-color: transparent;
}

.linkreg{
    background-color: transparent;
}

.formInput{
    background-color: white;
    display: table-cell;
    font-size: 24px;
    height: 32px;
    width: 200px;}

.formInputDate{
    background-color: white;
    display: table-cell;
    font-size: 18px;
    height: 32px;
    width: 200px;}

.formText2{
    background-color: #f3deb3;
    display: table-cell;
    font-size: 12px}

.formText3{
    background-color: white;
    display: table-cell;
    font-size: 14px
}
.formInput2{
    background-color: white;
    display: table-cell;
    font-size: 12px;
    height: 14px;
    width: 90px;
    margin-left: 10px}

.formInput4{
    background-color: white;
    display: table-cell;
    font-size: 14px;
    height: 16px;
    width: 200px;}

.formInput3{
    background-color: white;
    display: table-cell;
    font-size: 14px;
    height: 70px;
    width: 200px;}


.h3login{
    margin-left: 10px;
    background-color: transparent;
    width: 500px;
}

.smallField{
    background-color: transparent;
}


.registration{
    background-color: white;
}
/*
input[type="text"]{
    font-size: 24px;
    height: 32px;
    width: 200px;
}

input[type="password"]{
    font-size: 24px;
    height: 32px;
    width: 200px;
}
*/
/* registration page */

.blockRegist{
    margin-top: 30px;
    background-color: white;
    margin-left: 50px;
    min-height: 150px;
}

.headerwrap{
    margin: 0px;
    background-color: green;
}

.nameheader{
    width: 50%;
    height: 50px;
    background-color: #f3deb3;
    float: left;
}

.languageheader{
    width: 5%;
    height: 40px;
    background-color: transparent;
    margin-left: 1%;
    margin-right: 2%;
    float: left;
}

.searchheader{
    width: 200px;
    height: 50px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.wrapperBlock2{
    margin-top: 10px;
}

.infoheader{
    width: 25%;
    height: 50px;
    background-color: transparent;
    margin-left: 1%;
    margin-right: 2%;
    float: left;
}

.searchLangWrapper{
    background-color: #c2aac0;
    margin-left: 0px;
    margin-top: 0px;
}

.nameheader{
    background-color: #f3deb3;
}

/* bottom panel */

.languageLogin{
    margin-top: 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    background-color: transparent;
}


.lan1, .lan2, .lan3{
    padding: 3px 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

.extra{line-height:22px;color:#8D97A0;font-size:20px;font-family:"-apple-system",
BlinkMacSystemFont,Arial,sans-serif;white-space:nowrap;
    margin-left: 10px;
}

.language {
    float: left;
}

/* bottom panel end */

header {
    display: flex;
    padding: 5px;
    font-family: "Comic Sans MS";
    width: 67%;
    float: top;
    background-color: #f3deb3;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 18%;
    margin-top: 50px;
}

/* footer */

footer{
    width: 66%;
    margin-top: 40px;
    min-height: 40px;
    padding: 10px;
    margin-left: 18%;
    font-family: "Comic Sans MS";
    background-color: #f3deb3;
    clear: both;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

#wrapperFooter{
    width: 100%;
    margin-top: 0px;
    margin-left: 50px;
    background-color: #f3deb3;
}

#footerAuthor{
    width: 400px;
    margin-left: 0px;
    background-color: #f3deb3;
}

#footerReviews{
    width: 200px;
    background-color: #f3deb3;
}

#footerAuthor, #footerReviews{
    float: left;
}

.smallFooter{
    background-color: #f3deb3;
}

.login-button{
    background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

.login-button-pay{
    margin-top: 50px;
    background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

.main{
    background-color: #f3deb3;
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
}

.block1, .block2, .block3{
    float: left;
    border: 5px;
    min-height: 400px;
}

.block1 {
    width: 15%;
    background-color: transparent;
}

.block3 {
    width: 10%;
    background-color: transparent;
}

.block2 {
    width: 68%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #f3deb3;
    border: 2px solid black;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    background-color: transparent;
}

/* block1 */

.icon{
    width: 100%;
    background-color: transparent;
}

.icon1{
    max-width: 100%;
    height: auto;
    background-color: transparent;
}



.languageMain{
    margin-top: 10px;
    width: 150px;
    margin-left: 0%;
    min-height: 30px;
    background-color: transparent;
}


/* forms */


.productForm{
    background-color: transparent;
    margin: 50px;
}

.prod1{
    margin-left: 50px;
    margin-top: 30px;
    background-color: transparent;
    width: 130px;
    text-align: left;
}

.prod2{
    background-color: transparent;
    width: 30px;
    text-align: center;
}

.prod3{
    background-color: cornsilk;
}

.sexform{
    background-color: transparent;
}

.label{
    background-color: transparent;
}

.uploadButton {
    display: block;
    width: 80px;
    background: #3df;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
}

.uploadButtonTable {
    display: block;
    width: 50px;
    background: #3df;
    padding: 2px;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}


.uploadFile{
    background-color: transparent;
    margin-left: 0px;
    margin-top: 5px;
}

.invisibleForm{
    background-color: transparent;
}

#changeAva{
    background-color: transparent;
}

/* result page */

.wrapResult{
    margin-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 200px;
}

/* admin page block advice */
.message{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 0px;
}

.blockAdvice{
    margin-top: 15px;
    margin-left: 30px;
    width: 280px;
    min-height: 100px;
    border: 2px dashed black;
    background-color: #f3deb3;
}

.blockLearner{
    margin-top: 15px;
    margin-left: 30px;
    width: 280px;
    min-height: 100px;
    border: 2px dashed black;
    background-color: #f3deb3;
}

.formInputAdmin{
    width: 100px;
    margin-left: 20px;
    font-size: 12px;
    background-color: white;
    margin-top: 10px;
}

.h4marg{
    margin-left: 30px;
    margin-top: 10px;
    background-color: #f3deb3;
}

.formTextAdmin{
    margin-left: 20px;
    font-size: 12px;
    background-color: #f3deb3;
    margin-top: 10px;
}

.uploadButtonAdmin {
    display: block;
    width: 60px;
    background: #3df;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
}

.uploadButtonAdmin:hover {
    background: #5BC9E1;
}

.adminBlock{
    margin-left: 10px;
    background-color: #f3deb3;
}

.adminBlockEditPr{
    margin-left: 10px;
    background-color: white;
}

.adviceForm{
    background-color: transparent;
}

.changePageForm{
    background-color: transparent;
    margin-top: 5px;
    margin-left: 10px;
}

.blockUsers{
    margin-top: 15px;
    margin-left: 0px;
    width: 300px;
    min-height: 150px;
    background-color: #f3deb3;
}

.productBlock{
    margin-top: 0px;
    margin-left: 30px;
    width: 280px;
    min-height: 150px;
    border: 2px dashed black;
    background-color: #f3deb3;
}

/* in page center wrapper */
.anotherBlock{
    margin-top: 15px;
    margin-left: 30px;
    width: 280px;
    min-height: 150px;
    background-color: #f3deb3;
}

.anotherBlock2{
    margin-top: 0px;
    margin-left: 0px;
    width: 280px;
    min-height: 150px;
    background-color: #f3deb3;
}

.blockUsers, .anotherBlock{
    float: left;
}

.userTable{
    font-size: 14px;
    margin-left: 5%;
}

.tableTab{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
}

.wrapperBlocks{
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.review{
    width: 460px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: white;
}

/* message page */

.blockMessage{
    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;

}

/* calculator */

.calcBlock{
    background-color: #f3deb3;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.whiteBlock{
    background-color: #FFFFFF;
}